### SUPPRIMER UNE TABLE :

In [ ]:
sql = "DELETE FROM test"

In [ ]:
cursor.execute(sql)

In [ ]:
cnx.commit()

In [ ]:
cursor.close()
cnx.close()

### SUPPRIMER UNE COLONNE D'UNE TABLE

In [ ]:
del_reg = "ALTER TABLE poi DROP description;"

In [ ]:
cursor.execute(del_reg)

In [ ]:
cnx.commit()

In [ ]:
cursor.close()
cnx.close()

### AJOUTER UNE COLONNE DANS UNE TABLE :

In [ ]:
add = "ALTER TABLE poi ADD description VARCHAR(21844);"

In [ ]:
cursor.execute(add)

In [ ]:
cnx.commit()

In [ ]:
cursor.close()
cnx.close()

### MODIFIER UNE LE NOM D'UNE COLONNE

In [ ]:
modif = "ALTER TABLE poi CHANGE date_modification date_fin DATE;"

In [ ]:
cursor.execute(modif)

In [ ]:
cnx.commit()

In [ ]:
cursor.close()
cnx.close()

### SUPPRIMER UNE TABLE

In [ ]:
drop_poi = "DROP TABLE poi;"

In [ ]:
cursor.execute(drop_poi)

In [ ]:
cnx.commit()

In [ ]:
cursor.close()
cnx.close()

### SUPPRIMER LE CONTENUE D'UNE TABLE

In [ ]:
supp = "DELETE FROM poi;"

In [ ]:
cursor.execute(supp)

In [ ]:
cnx.commit()

In [ ]:
cursor.close()
cnx.close()

### REINIT ID

In [ ]:
idreinit= "ALTER TABLE poi AUTO_INCREMENT = 1;"
cursor.execute(idreinit)

In [ ]:
cnx.commit()

In [ ]:
cursor.close()
cnx.close()

### CHANGER LE TYPE D'UNE COLONNE

In [ ]:
changecol= "ALTER TABLE poi CHANGE description description VARCHAR(1000);"

In [ ]:
cursor.execute(changecol)

In [ ]:
cnx.commit()

In [ ]:
cursor.close()
cnx.close()

### CREER UNE TABLE

In [ ]:
create_poi =\
"CREATE TABLE poi (\
    id                MEDIUMINT NOT NULL AUTO_INCREMENT,\
    libele            VARCHAR(100),\
    lien              VARCHAR(150) NOT NULL,\
    classement        INTEGER,\
    contact           VARCHAR(300),\
    description       VARCHAR(500),\
    date_modification DATE,\
    localisation_id   INTEGER NOT NULL,\
    PRIMARY KEY (id)\
)ENGINE=INNODB;"

In [ ]:
cursor.execute(poi)

In [ ]:
cnx.commit()

In [ ]:
cursor.close()
cnx.close()