In [3]:
import pandas as pd

### code insee - code postal - département - region

In [56]:
info_comm = pd.read_csv("https://public.opendatasoft.com/explore/dataset/correspondance-code-insee-code-postal/download/?format=csv&timezone=Europe/Berlin&lang=fr&use_labels_for_header=true&csv_separator=%3B", sep = ";")

In [57]:
info_comm.head(10)

,Code INSEE,Code Postal,Commune,Département,Région,Statut,Altitude Moyenne,Superficie,Population,geo_point_2d,geo_shape,ID Geofla,Code Commune,Code Canton,Code Arrondissement,Code Département,Code Région
0,59416,59190,MORBECQUE,NORD,NORD-PAS-DE-CALAIS,Commune simple,23.0,4455.0,2.7,"50.67689342861573,2.536216144331492","{""coordinates"": [[[2.501239302134784, 50.63986...",1237,416,30,4,59,31
1,22102,22330,LANGOURLA,COTES-D'ARMOR,BRETAGNE,Commune simple,170.0,2165.0,0.6,"48.284641107667674,-2.415501011324659","{""coordinates"": [[[-2.416298136623701, 48.2530...",10183,102,9,1,22,53
2,31225,31310,GOUTEVERNISSE,HAUTE-GARONNE,MIDI-PYRENEES,Commune simple,264.0,485.0,0.2,"43.214026301449536,1.173765920286677","{""coordinates"": [[[1.165580460427912, 43.20037...",20555,225,27,1,31,73
3,23025,23220,BONNAT,CREUSE,LIMOUSIN,Chef-lieu canton,355.0,4554.0,1.3,"46.32301933418213,1.913450631364578","{""coordinates"": [[[1.952331841746855, 46.28624...",3586,25,6,2,23,74
4,38522,38740,VALJOUFFREY,ISERE,RHONE-ALPES,Commune simple,2009.0,12644.0,0.1,"44.88153491127053,6.07950399615059","{""coordinates"": [[[6.056489736635054, 44.81581...",1082,522,36,1,38,82
5,21249,21170,ESBARRES,COTE-D'OR,BOURGOGNE,Commune simple,182.0,1587.0,0.8,"47.091069454325485,5.198246639283228","{""coordinates"": [[[5.195897269928138, 47.06444...",8557,249,29,1,21,26
6,62893,62930,WIMEREUX,PAS-DE-CALAIS,NORD-PAS-DE-CALAIS,Commune simple,24.0,826.0,7.4,"50.77924978918239,1.613432313096119","{""coordinates"": [[[1.607971003315059, 50.74636...",33814,893,65,3,62,31
7,60331,60590,LABOSSE,OISE,PICARDIE,Commune simple,170.0,1428.0,0.5,"49.35407816266846,1.898320236754994","{""coordinates"": [[[1.909338677971174, 49.33269...",28855,331,10,1,60,22
8,62625,62770,NOYELLES-LES-HUMIERES,PAS-DE-CALAIS,NORD-PAS-DE-CALAIS,Commune simple,105.0,116.0,0.1,"50.37542375047368,2.1773776418561592","{""coordinates"": [[[2.185043795569806, 50.37099...",28334,625,39,4,62,31
9,34277,34520,SAINT-MAURICE-NAVACELLES,HERAULT,LANGUEDOC-ROUSSILLON,Commune simple,602.0,6894.0,0.2,"43.84487342385136,3.506265066900079","{""coordinates"": [[[3.5335903798981603, 43.7881...",25821,277,8,2,34,91

In [58]:
pd.set_option('display.max_rows', None)

In [59]:
info_comm["Commune"] = info_comm["Commune"].replace('\-',' ',regex=True).astype(str)

In [60]:
info_comm[['Latitude', 'Longitude']] = info_comm['geo_point_2d'].str.strip('( )').str.split(',', expand=True)

In [61]:
info_comm.sort_values(by=['Commune'], ascending=False).head(10)

,Code INSEE,Code Postal,Commune,Département,Région,Statut,Altitude Moyenne,Superficie,Population,geo_point_2d,geo_shape,ID Geofla,Code Commune,Code Canton,Code Arrondissement,Code Département,Code Région,Latitude,Longitude
7165,59669,59670,ZUYTPEENE,NORD,NORD-PAS-DE-CALAIS,Commune simple,35.0,1191.0,0.6,"50.79182407118888,2.4233016281897672","{""coordinates"": [[[2.404330861188816, 50.77163...",20826,669,16,4,59,31,50.79182407118888,2.4233016281897672
32034,59668,59123,ZUYDCOOTE,NORD,NORD-PAS-DE-CALAIS,Commune simple,6.0,255.0,1.7,"51.06377209002622,2.487632798822885","{""coordinates"": [[[2.503404624115388, 51.06007...",30700,668,25,4,59,31,51.06377209002622,2.487632798822885
12911,62906,62370,ZUTKERQUE,PAS-DE-CALAIS,NORD-PAS-DE-CALAIS,Commune simple,21.0,1646.0,1.7,"50.852886957183166,2.059602390740476","{""coordinates"": [[[2.032862462379773, 50.82137...",14111,906,6,5,62,31,50.852886957183166,2.059602390740476
24843,62905,62500,ZUDAUSQUES,PAS-DE-CALAIS,NORD-PAS-DE-CALAIS,Commune simple,86.0,724.0,0.8,"50.75266051629302,2.160247302030555","{""coordinates"": [[[2.152790705938765, 50.74122...",29100,905,34,5,62,31,50.75266051629302,2.160247302030555
31505,2B364,20272,ZUANI,HAUTE-CORSE,CORSE,Commune simple,714.0,518.0,0.0,"42.2648264250079,9.341266273478627","{""coordinates"": [[[9.338552474574623, 42.25072...",30007,364,24,3,2B,94,42.2648264250079,9.341266273478627
29224,2A363,20112,ZOZA,CORSE-DU-SUD,CORSE,Commune simple,398.0,504.0,0.1,"41.721546993006726,9.071733484633059","{""coordinates"": [[[9.050566531497045, 41.70999...",24424,363,55,4,2A,94,41.721546993006726,9.071733484633059
15016,57764,57330,ZOUFFTGEN,MOSELLE,LORRAINE,Commune simple,255.0,1675.0,0.8,"49.465886464934506,6.135041436050685","{""coordinates"": [[[6.14023479973295, 49.437550...",2362,764,5,7,57,41,49.465886464934506,6.135041436050685
23771,62904,62890,ZOUAFQUES,PAS-DE-CALAIS,NORD-PAS-DE-CALAIS,Commune simple,38.0,395.0,0.6,"50.822809765850124,2.053209531865157","{""coordinates"": [[[2.059657334782635, 50.81181...",29473,904,2,5,62,31,50.822809765850124,2.053209531865157
17085,62903,62650,ZOTEUX,PAS-DE-CALAIS,NORD-PAS-DE-CALAIS,Commune simple,157.0,739.0,0.5,"50.61492298099149,1.8874644471164541","{""coordinates"": [[[1.901845446256319, 50.59974...",8606,903,29,4,62,31,50.61492298099149,1.8874644471164541
32438,2A362,20124,ZONZA,CORSE-DU-SUD,CORSE,Commune simple,574.0,13486.0,2.3,"41.72137301927729,9.266240055472293","{""coordinates"": [[[9.40137788652635, 41.717735...",10041,362,22,4,2A,94,41.72137301927729,9.266240055472293

In [62]:
info_comm = info_comm[['Code INSEE', 'Code Postal','Latitude', 'Longitude', 'Commune', 'Département', 'Région', 'Code Département', 'Code Région']]

In [63]:
info_comm[info_comm["Commune"] == "VANDOEUVRE LES NANCY"]

,Code INSEE,Code Postal,Latitude,Longitude,Commune,Département,Région,Code Département,Code Région
2698,54547,54500,48.657999935597864,6.165312293072647,VANDOEUVRE LES NANCY,MEURTHE-ET-MOSELLE,LORRAINE,54,41

In [64]:
info_comm.isnull().sum()

Code INSEE          0
Code Postal         0
Latitude            0
Longitude           0
Commune             0
Département         0
Région              0
Code Département    0
Code Région         0
dtype: int64

In [65]:
len(info_comm["Code INSEE"].unique())

36742

In [66]:
len(info_comm)

36742

In [68]:
info_comm.to_csv('projet_info_comm.csv', index=False)

############################################################################################################################

### COM = code_insee / REG = num region / DEP = num departement

### COMMUNE

In [28]:
commune = pd.read_csv("https://www.insee.fr/fr/statistiques/fichier/5057840/commune2021-csv.zip", sep =",")

In [29]:
commune.head(3)

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT
0,COM,01001,84.0,01,01D,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,NaN
1,COM,01002,84.0,01,01D,011,5,ABERGEMENT DE VAREY,Abergement-de-Varey,L'Abergement-de-Varey,0101,NaN
2,COM,01004,84.0,01,01D,011,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,0101,NaN

In [30]:
commune = commune[["COM", "REG", "DEP","NCC","NCCENR"]].rename(columns = {'COM':'code_insee', 'REG' : 'insee_region', 'DEP' : 'insee_dep', 'NCC' : "commmaj", 'NCCENR' : 'commune'})

In [31]:
commune.head()

,code_insee,insee_region,insee_dep,commmaj,commune
0,01001,84.0,01,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat
1,01002,84.0,01,ABERGEMENT DE VAREY,Abergement-de-Varey
2,01004,84.0,01,AMBERIEU EN BUGEY,Ambérieu-en-Bugey
3,01005,84.0,01,AMBERIEUX EN DOMBES,Ambérieux-en-Dombes
4,01006,84.0,01,AMBLEON,Ambléon

In [33]:
commune[commune["commmaj"] == "VANDOEUVRE LES NANCY"]

,code_insee,insee_region,insee_dep,commmaj,commune
21775,54547,44.0,54,VANDOEUVRE LES NANCY,Vandœuvre-lès-Nancy

In [44]:
len(commune)

37742

In [45]:
commune.isnull().sum()

Code INSEE         0
insee_region    2732
insee_dep       2732
commune            0
dtype: int64

### REGION

In [4]:
region = pd.read_csv("https://www.insee.fr/fr/statistiques/fichier/5057840/region2021-csv.zip")
region.head(20)

,REG,CHEFLIEU,TNCC,NCC,NCCENR,LIBELLE
0,1,97105,3,GUADELOUPE,Guadeloupe,Guadeloupe
1,2,97209,3,MARTINIQUE,Martinique,Martinique
2,3,97302,3,GUYANE,Guyane,Guyane
3,4,97411,0,LA REUNION,La Réunion,La Réunion
4,6,97608,0,MAYOTTE,Mayotte,Mayotte
5,11,75056,1,ILE DE FRANCE,Île-de-France,Île-de-France
6,24,45234,2,CENTRE VAL DE LOIRE,Centre-Val de Loire,Centre-Val de Loire
7,27,21231,0,BOURGOGNE FRANCHE COMTE,Bourgogne-Franche-Comté,Bourgogne-Franche-Comté
8,28,76540,0,NORMANDIE,Normandie,Normandie
9,32,59350,4,HAUTS DE FRANCE,Hauts-de-France,Hauts-de-France
10,44,67482,2,GRAND EST,Grand Est,Grand Est
11,52,44109,4,PAYS DE LA LOIRE,Pays de la Loire,Pays de la Loire
12,53,35238,0,BRETAGNE,Bretagne,Bretagne
13,75,33063,3,NOUVELLE AQUITAINE,Nouvelle-Aquitaine,Nouvelle-Aquitaine
14,76,31555,1,OCCITANIE,Occitanie,Occitanie
15,84,69123,1,AUVERGNE RHONE ALPES,Auvergne-Rhône-Alpes,Auvergne-Rhône-Alpes
16,93,13055,0,PROVENCE ALPES COTE D AZUR,Provence-Alpes-Côte d'Azur,Provence-Alpes-Côte d'Azur
17,94,2A004,0,CORSE,Corse,Corse

In [5]:
region = region[["REG", "NCC"]].rename(columns = {'REG':'code_insee', 'NCC' : 'region'})

In [6]:
region.isnull().sum()

code_insee    0
region        0
dtype: int64

In [7]:
len(region['code_insee'].unique())

18

In [8]:
region.to_csv('projet_info_region.csv', index=False)

### DEPARTEMENT

In [9]:
departement = pd.read_csv("https://www.insee.fr/fr/statistiques/fichier/5057840/departement2021-csv.zip")
departement.head()

,DEP,REG,CHEFLIEU,TNCC,NCC,NCCENR,LIBELLE
0,01,84,01053,5,AIN,Ain,Ain
1,02,32,02408,5,AISNE,Aisne,Aisne
2,03,84,03190,5,ALLIER,Allier,Allier
3,04,93,04070,4,ALPES DE HAUTE PROVENCE,Alpes-de-Haute-Provence,Alpes-de-Haute-Provence
4,05,93,05061,4,HAUTES ALPES,Hautes-Alpes,Hautes-Alpes

In [10]:
departement = departement[["DEP", "REG", "NCC"]].rename(columns = {'DEP' : 'dep', 'REG':'reg','NCC' : 'libele'})

In [11]:
departement.isnull().sum()

dep       0
reg       0
libele    0
dtype: int64

In [12]:
region.to_csv('projet_info_departement.csv', index=False)

############# COMMUNE #############

In [22]:
com = pd.read_csv("https://www.insee.fr/fr/statistiques/fichier/5057840/commune2021-csv.zip")
com.head()

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT
0,COM,01001,84.0,01,01D,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,NaN
1,COM,01002,84.0,01,01D,011,5,ABERGEMENT DE VAREY,Abergement-de-Varey,L'Abergement-de-Varey,0101,NaN
2,COM,01004,84.0,01,01D,011,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,0101,NaN
3,COM,01005,84.0,01,01D,012,1,AMBERIEUX EN DOMBES,Ambérieux-en-Dombes,Ambérieux-en-Dombes,0122,NaN
4,COM,01006,84.0,01,01D,011,1,AMBLEON,Ambléon,Ambléon,0104,NaN

In [23]:
com.isnull().sum()

TYPECOM          0
COM              0
REG           2732
DEP           2732
CTCD          2732
ARR           2749
TNCC             0
NCC              0
NCCENR           0
LIBELLE          0
CAN           2877
COMPARENT    34965
dtype: int64

########################## MYSQL #################################################

In [15]:
import mysql
import mysql.connector

In [97]:
user = 'poi'
passw = '&QwtyCEZ53#XJ&1&D9SG7tq9d'
host =  '54.195.243.32'
database = 'poi'

In [98]:
cnx = mysql.connector.connect(
  host=host,
  user=user,
  password=passw,
  database=database
)

In [99]:
cursor= cnx.cursor()

Transfert donnees de dataframe vers table region

In [105]:
for index, row in departement.iterrows():
    code_insee = row.dep
    libele = row.libele
    print(code_insee, ",", libele )
    data=(code_insee, libele)
    requete = ("INSERT INTO region (libele, code_insee) VALUES (%s,%s);")
    print(requete, ":", data)
    #cursor.execute(requete, data)
    #departement_id=cursor.lastrowid
    #print("iddepartement ",departement_id)
    #cnx.commit()

01 , AIN
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('01', 'AIN')
02 , AISNE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('02', 'AISNE')
03 , ALLIER
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('03', 'ALLIER')
04 , ALPES DE HAUTE PROVENCE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('04', 'ALPES DE HAUTE PROVENCE')
05 , HAUTES ALPES
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('05', 'HAUTES ALPES')
06 , ALPES MARITIMES
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('06', 'ALPES MARITIMES')
07 , ARDECHE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('07', 'ARDECHE')
08 , ARDENNES
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('08', 'ARDENNES')
09 , ARIEGE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('09', 'ARIEGE')
10 , AUBE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('10', 'AUBE')
11 , AUDE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('11', 'AUDE')
12 , AVEYRON
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('12', 'AVEYRON')
13 , BOUCHES DU RHONE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('13', 'BOUCHES DU RHONE')
14 , CALVADOS
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('14', 'CALVADOS')
15 , CANTAL
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('15', 'CANTAL')
16 , CHARENTE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('16', 'CHARENTE')
17 , CHARENTE MARITIME
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('17', 'CHARENTE MARITIME')
18 , CHER
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('18', 'CHER')
19 , CORREZE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('19', 'CORREZE')
21 , COTE D OR
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('21', 'COTE D OR')
22 , COTES D ARMOR
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('22', 'COTES D ARMOR')
23 , CREUSE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('23', 'CREUSE')
24 , DORDOGNE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('24', 'DORDOGNE')
25 , DOUBS
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('25', 'DOUBS')
26 , DROME
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('26', 'DROME')
27 , EURE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('27', 'EURE')
28 , EURE ET LOIR
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('28', 'EURE ET LOIR')
29 , FINISTERE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('29', 'FINISTERE')
2A , CORSE DU SUD
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('2A', 'CORSE DU SUD')
2B , HAUTE CORSE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('2B', 'HAUTE CORSE')
30 , GARD
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('30', 'GARD')
31 , HAUTE GARONNE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('31', 'HAUTE GARONNE')
32 , GERS
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('32', 'GERS')
33 , GIRONDE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('33', 'GIRONDE')
34 , HERAULT
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('34', 'HERAULT')
35 , ILLE ET VILAINE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('35', 'ILLE ET VILAINE')
36 , INDRE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('36', 'INDRE')
37 , INDRE ET LOIRE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('37', 'INDRE ET LOIRE')
38 , ISERE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('38', 'ISERE')
39 , JURA
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('39', 'JURA')
40 , LANDES
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('40', 'LANDES')
41 , LOIR ET CHER
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('41', 'LOIR ET CHER')
42 , LOIRE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('42', 'LOIRE')
43 , HAUTE LOIRE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('43', 'HAUTE LOIRE')
44 , LOIRE ATLANTIQUE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('44', 'LOIRE ATLANTIQUE')
45 , LOIRET
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('45', 'LOIRET')
46 , LOT
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('46', 'LOT')
47 , LOT ET GARONNE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('47', 'LOT ET GARONNE')
48 , LOZERE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('48', 'LOZERE')
49 , MAINE ET LOIRE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('49', 'MAINE ET LOIRE')
50 , MANCHE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('50', 'MANCHE')
51 , MARNE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('51', 'MARNE')
52 , HAUTE MARNE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('52', 'HAUTE MARNE')
53 , MAYENNE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('53', 'MAYENNE')
54 , MEURTHE ET MOSELLE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('54', 'MEURTHE ET MOSELLE')
55 , MEUSE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('55', 'MEUSE')
56 , MORBIHAN
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('56', 'MORBIHAN')
57 , MOSELLE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('57', 'MOSELLE')
58 , NIEVRE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('58', 'NIEVRE')
59 , NORD
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('59', 'NORD')
60 , OISE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('60', 'OISE')
61 , ORNE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('61', 'ORNE')
62 , PAS DE CALAIS
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('62', 'PAS DE CALAIS')
63 , PUY DE DOME
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('63', 'PUY DE DOME')
64 , PYRENEES ATLANTIQUES
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('64', 'PYRENEES ATLANTIQUES')
65 , HAUTES PYRENEES
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('65', 'HAUTES PYRENEES')
66 , PYRENEES ORIENTALES
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('66', 'PYRENEES ORIENTALES')
67 , BAS RHIN
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('67', 'BAS RHIN')
68 , HAUT RHIN
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('68', 'HAUT RHIN')
69 , RHONE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('69', 'RHONE')
70 , HAUTE SAONE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('70', 'HAUTE SAONE')
71 , SAONE ET LOIRE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('71', 'SAONE ET LOIRE')
72 , SARTHE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('72', 'SARTHE')
73 , SAVOIE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('73', 'SAVOIE')
74 , HAUTE SAVOIE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('74', 'HAUTE SAVOIE')
75 , PARIS
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('75', 'PARIS')
76 , SEINE MARITIME
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('76', 'SEINE MARITIME')
77 , SEINE ET MARNE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('77', 'SEINE ET MARNE')
78 , YVELINES
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('78', 'YVELINES')
79 , DEUX SEVRES
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('79', 'DEUX SEVRES')
80 , SOMME
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('80', 'SOMME')
81 , TARN
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('81', 'TARN')
82 , TARN ET GARONNE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('82', 'TARN ET GARONNE')
83 , VAR
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('83', 'VAR')
84 , VAUCLUSE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('84', 'VAUCLUSE')
85 , VENDEE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('85', 'VENDEE')
86 , VIENNE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('86', 'VIENNE')
87 , HAUTE VIENNE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('87', 'HAUTE VIENNE')
88 , VOSGES
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('88', 'VOSGES')
89 , YONNE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('89', 'YONNE')
90 , TERRITOIRE DE BELFORT
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('90', 'TERRITOIRE DE BELFORT')
91 , ESSONNE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('91', 'ESSONNE')
92 , HAUTS DE SEINE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('92', 'HAUTS DE SEINE')
93 , SEINE SAINT DENIS
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('93', 'SEINE SAINT DENIS')
94 , VAL DE MARNE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('94', 'VAL DE MARNE')
95 , VAL D OISE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('95', 'VAL D OISE')
971 , GUADELOUPE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('971', 'GUADELOUPE')
972 , MARTINIQUE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('972', 'MARTINIQUE')
973 , GUYANE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('973', 'GUYANE')
974 , LA REUNION
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('974', 'LA REUNION')
976 , MAYOTTE
INSERT INTO region (libele, code_insee) VALUES (%s,%s); : ('976', 'MAYOTTE')

In [106]:
cursor.close()
cnx.close()

In [80]:
departement.head()

  dep  reg                   libele
0  01   84                      AIN
1  02   32                    AISNE
2  03   84                   ALLIER
3  04   93  ALPES DE HAUTE PROVENCE
4  05   93             HAUTES ALPES