### Connexion à mysql server

In [ ]:
import mysql
import mysql.connector

In [ ]:
user = 'poi'
passw = '&QwtyCEZ53#XJ&1&D9SG7tq9d'
host =  '54.195.243.32'
database = 'poi'

In [ ]:
cnx = mysql.connector.connect(
  host=host,
  user=user,
  password=passw,
  database=database
)

In [ ]:
cursor= cnx.cursor()

### Transfert donnees de dataframe vers table poi

In [ ]:
for index, row in data_graph.iterrows():
    date_fin = row.date_de_fin
    ville = row.ville
    latitude = row.latitude
    longitude = row.longitude
    adresse = row.adresse
    description = row.description
    data=(date_fin, ville, latitude, longitude, adresse, description)
    requete = ("INSERT INTO poi (date_fin, ville, latitude, longitude, adresse, description) VALUES (%s,%s,%s,%s,%s,%s)")
    cursor.execute(requete, data)
    poi_id=cursor.lastrowid
    print(poi_id,":",date_fin, ville, latitude, longitude, adresse)
    cnx.commit()

In [ ]:
cursor.close()
cnx.close()

### Transfert donnees de dataframe vers table ville

In [ ]:
ville = pd.read_csv("projet_info_comm.csv")
ville.head(1)

In [ ]:
for index, row in ville.iterrows():
    code_insee = row.Code INSEE
    code_postal = row.Code Postal
    latitude = row.Latitude
    longitude = row.Longitude
    commune = row.Commune
    code_departement = row.Code Département
    
    data=(code_insee,code_postal,latitude,longitude,commune,code_departement)
    requete = ("INSERT INTO poi (code_insee,code_postal,latitude,longitude,commune,code_departement) VALUES (%s,%s,%s,%s,%s,%s)")
    cursor.execute(requete, data)
    ville_id=cursor.lastrowid
    print(ville_id,":",code_insee,code_postal,latitude,longitude,commune,code_departement)
    cnx.commit()

In [ ]:
cursor.close()
cnx.close()

### Transfert donnees de dataframe vers table departement

In [ ]:
departement = pd.read_csv("projet_info_departement.csv")
departement.head(1)

In [ ]:
for index, row in departement.iterrows():
    code_insee = row.code_insee
    region = row.region
    
    data=(code_insee,region)
    requete = ("INSERT INTO poi (code_insee,regiont) VALUES (%s,%s,%s,%s,%s,%s)")
    cursor.execute(requete, data)
    ville_id=cursor.lastrowid
    print(ville_id,":",code_insee,code_postal,latitude,longitude,commune,code_departement)
    cnx.commit()

In [ ]:
cursor.close()
cnx.close()

### Transfert donnees de dataframe vers table région

In [ ]:
region = pd.read_csv("projet_info_region.csv")
region.head(2)

In [ ]:
for index, row in region.iterrows():
    code_insee = row.code_insee	
    region = row.region
        
    data=(code_insee,region)
    requete = ("INSERT INTO poi (code_insee,region) VALUES (%s,%s)")
    cursor.execute(requete, data)
    region_id=cursor.lastrowid
    print(region_id,":",code_insee,region)
    cnx.commit()